[package]
edition = "2021"
name = "localauth0"
version = "0.2.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-files = "0.6.0"
actix-web = "4.0.1"

derive-getters = "0.2.0"

serde = {version = "1.0.137", features = ["derive"]}
serde_json = "1.0.80"

base64-url = "1.4.13"
openssl = "0.10.39"

chrono = {version = "0.4.19", features = ["serde"]}

thiserror = "1.0.31"

jsonwebtoken = "8.1.0"
moka = "0.7.2"
rand = "0.8.5"
uuid = "0.8.2"

toml = "0.5.9"
