[package]
name = "localauth0"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.0.0-rc.1"

serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"

openssl = "^0.10"
base64-url = "^1.4"

chrono = { version = "^0.4", features = ["serde"] }

thiserror = "^1.0"

jsonwebtoken = "8.0.0-beta.6"
rand = "^0.8"
uuid = "^0.8"
moka = "^0.7"
