[env]
LOCALAUTH0_CONFIG_PATH = "/home/app/localauth0.toml"

[tasks.build]
args = ["build"]
command = "cargo"
dependencies = ["trunk-build"]

[tasks.run]
args = ["run"]
command = "cargo"
dependencies = ["trunk-build"]

[tasks.watch]
args = ["watch", "-x", "make run"]
command = "cargo"
dependencies = ["trunk-build"]
install_crate = {crate_name = "cargo-watch"}

[tasks.test]
args = ["test", "${@}"]
command = "cargo"

[tasks.lint]
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]
command = "cargo"
description = "Run lint"

[tasks.trunk-build]
args = ["build", "web/index.html"]
command = "trunk"
