.display-grid {
  display: grid;
}

.permission-button {
  align-self: end;
}

.token-area {
  font-family: monospace;
  word-break: break-all;
  padding-bottom: 0;
}

.button-row--center {
  justify-content: center;
}

.copy-wrapper {
  display: flex;
  justify-content: end;
}

.button-copy {
  cursor: pointer;
}
