@use "../../../pyxis/packages/pyxis-scss/src/scss/pyxis";

.display-grid {
	display: grid;
}

.main {
	margin-top: 1rem;
}

.permission-button {
	align-self: end;
}

.token-area {
	font-family: monospace;
}
