name: CD

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag_name:
        description: "The tag name to use"
        required: true
        type: string

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          ssh-key: ${{ secrets.PYXIS_RO }}
          persist-credentials: false

      - uses: Swatinem/rust-cache@v2

      - run: rustup target add wasm32-unknown-unknown
      - name: install tools
        uses: taiki-e/install-action@v2
        with:
          tool: trunk@0.17

      - name: Build
        run: cargo build --release
      - name: Build web
        run: trunk build web/index.html

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::193543784330:role/oidc-github-ecr-localauth0
          aws-region: us-east-1

      - name: Login to public ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          mask-password: "true"
          registry-type: public

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: "public.ecr.aws/prima/localauth0:${{ inputs.tag_name || github.event.release.tag_name }}"
          file: "Dockerfile_localauth0"
